---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Basic Page Need
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8" />
    <title>{{ page.workout.author.instagramHandle }}'s {{ page.workout.name }}</title>
    <meta name="description" content="{{page.workout.name}} from @{{page.workout.author.instagramHandle}}: {{workout.description}}" />
    <meta name="author" content="@{{ page.workout.author.instagramHandle }} ({{ page.workout.author.profileDescription}})" />
    <meta property="og:site_name" content="Verkout">
    <meta property="og:type" content="video">
    <meta property="og:title" content="{{page.workout.name}} from @{{page.workout.author.instagramHandle}}">
    <meta property="og:description" content="{{page.workout.description}}">
    <meta property="og:image" content="{{page.workout.author.profileImageUrl}}">
    <meta property="og:video" content="{{page.workout.shareVideo}}">
    <meta property="og:video:width" content="1080">
    <meta property="og:video:height" content="1920">  
    <meta property="og:url" content="https://www.verkout.com/workouts/{{page.workout.id}}">
    <meta name="twitter:title" content="{{page.workout.name}} from @{{page.workout.author.instagramHandle}}">
    <meta name="twitter:description" content="{{page.workout.description}}">
    <meta name="twitter:image" content="{{page.workout.author.profileImageUrl}}">
    <meta name="twitter:card" content="summary_large_image">
  
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  
    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link
      href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
      rel="stylesheet"
      type="text/css"
    />
  
    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/skeleton.css" />
    <link rel="stylesheet" href="https://vjs.zencdn.net/7.8.3/video-js.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />    
    
  
    <!-- Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"></script>
  
    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
  </head>
  <body id="workout">
      <div class="container">        
        <section class="clear">
          <video
            id="workout_video_player"
            class="video-js vjs-fluid vjs-big-play-button"
            muted="muted"
            controls
            loop
            poster="{{page.workout.author.profileImageUrl}}"
            data-setup='{ "loop": true, "controls": true}'
          >
            <source src="{{ page.workout.shareVideo }}" type="video/mp4" />    
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a
              web browser that
              <a href="https://videojs.com/html5-video-support/" target="_blank"
                >supports HTML5 video</a
              >
            </p>
          </video>
        </section>
        <section class="header">
          <h4>{{page.workout.author.instagramName}}</h4>          
        </section>
        <section class="description">
          <h2>{{ page.workout.name }}</h2>
          
          
          <a href="https://www.instagram.com/{{page.workout.author.instagramHandle}}" target="_">
          <h4>
            <img src="{{page.workout.author.profileImageUrl}}" alt="@{{page.workout.author.instagramHandle}} Avatar" class="avatar">
            @{{ page.workout.author.instagramHandle }}
          </h4>
        </a>
          <p>{{page.workout.description}}</p>
        </section>
    </div>

    <script src="https://vjs.zencdn.net/7.8.3/video.js"></script>    
    <script>
      var options = {"loop": true, "controls": true, "muted": false, "poster": "{{page.workout.author.profileImageUrl}}"};

      var player = videojs('workout_video_player', options, function onPlayerReady() {
        videojs.log('Your player is ready!');

        // In this context, `this` is the player that was created by Video.js.
        var self = this;

        // this.on('click', function() {
        //   self.play();
        //   if (self.paused()) {
        //     self.play();
        //   } else {
        //     self.pause();
        //   }
        // })
        

        // How about an event listener?
        this.on('ended', function() {
          // videojs.log('Awww...over so soon?!');
        });
      });

    </script>
  </body>
  
</html>
